/* ModalMateria.css */
.modal-materia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
  .modal-materia-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  .modal-materia-content input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
  }
  
  .modal-materia-content button {
    margin: 5px;
    padding: 10px 20px;
  }

  
  