/* Tarea.css */

.tareas-materia {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.tareas-materia ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Permite que la lista ocupe el espacio disponible */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

.tareas-materia li {
    margin-bottom: 10px;
}

.add-task-button-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-task-button-container:hover {
    background-color: #0056b3;
}
